:root {
    --foreground-color: #ffffff;
    --background-color: #202028;
}

body {
    background: var(--background-color);
    color: var(--foreground-color);
    display: flex;
    font-family: sans-serif;
    font-size: 2em;
    justify-content: space-around;
    text-align: center;
}

canvas {
    border: 2px solid var(--foreground-color);
    height: 90vh;
}
